/* Reservation */
.reservation-container {
    background-color: #c2c6c2;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
    
    h1 {
      margin-bottom: 20px;
      color: #333;
    }
  
    .reservation-form {
      display: flex;
      flex-direction: column;
      font-family: serif;
  
      label {
        margin: 10px 0 5px;
        text-align: left;
        color: #555;
        font-family: serif;
      }
  
      input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 20px;
        font-size: 16px;
      }
    }
  }
  
  button {
    appearance: none;
    backface-visibility: hidden;
    background-color: #27ae60;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    // partie cursor 
    cursor: pointer;
    display: inline-block;
    font-family: serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
  }
  